[client-server]
socket=/var/lib/mysql/mysql.sock

[mysql]
user=root
password=root

[mysqld]
bind-address=localhost
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix

[mysqldump]
max_allowed_packet=200M
